/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/* Taken from inuitcss */

/**
 * Page-level constraining and wrapping elements.
 */

$wrapper-width: 1200px !default;

.o-wrapper {
  @include clearfix();
  padding-right: $global-spacing-unit;
  padding-left:  $global-spacing-unit;
  margin-right: auto;
  margin-left:  auto;
  max-width: $wrapper-width;
}
