/* ==========================================================================
   #SECTION
   ========================================================================== */

/**
 * Page section styles
 */

$section_title-font-family: $font-stack-headings !default;
$section_title-font-size: 28px !default;
$section_title-large-font-size: 40px !default;
$section_title-font-weight: 300 !default;
$section_title-line-size: 75px;
$section_title-line-gap: 10px;

.c-section { };


  /**
   * Section title styles.
   * Note: Should probably be in a separate typography utility classes
   */
  .c-section__title, .c-section__title--large {
    font-family: $section_title-font-family;
    font-weight: $section_title-font-weight;
    font-size: $section_title-font-size;

    /**
     * Highlight line to left of text.
     * Note: Should probably be a separate component or utility.
     */
    &::before {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      width: rem($section_title-line-size);
      height: 1px;
      background-color: currentcolor;
      margin-right: rem($section_title-line-gap);
    }
  }

  .c-section__title--large {
    font-size: $section_title-large-font-size;
  }


  .c-section__heading-separator {
    font-size: rem(64px);
    text-align: center;

    &::before {
      content: " ";
      display: block;
      width: 2px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      border-left: 1px solid #878787;
      border-right: 1px solid #787878;
    }
  }
