/* ==========================================================================
   #NAVBAR
   ========================================================================== */

.c-navbar {
  display: block;
  height: rem(130px);
}

  .c-navbar__contents {
    position: relative;
  }

  .c-navbar__items {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .8);
    color: #fff;
  }

  .c-navbar__layout {
    max-width: 900px;
    display: block;
    margin: 0 auto;
  }

  .c-navbar__toggle {
    position: absolute;
    right: 0;
    top: 0;
  }

  .c-navbar__items-primary, .c-navbar__items-secondary {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .c-navbar__items-primary {
    font-family: $font-stack-headings;
    font-size: rem(64px);
  }

  .c-navbar__items-secondary {
    font-family: $font-stack-primary;
    font-size: rem(32px);
  }
