/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {

}

  
  .c-header__title {
    font-family: $font-stack-primary;
  }


  .c-header__subtitle {
    font-size: rem(80px);
    line-height: rem(90px);
  }