/* ==========================================================================
   #ENQUIRIES FORM
   ========================================================================== */


.c-enquiries-form {
  display: block;
  max-width: rem(550px);
  margin: 0 auto;
}

  .c-enquiries-form__submit {
    display: block;
    margin: 0 auto;
  }

  .c-enquiries-form__disclaimer {
    font-size: rem(10px);
    line-height: rem(20px);
  }
