/* ==========================================================================
   #LIST
   ========================================================================== */

/**
 * Block list with border separator
 */

.c-list {
  display: block;
}


  .c-list__item {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(#000, .1);
    }
  }
