/* ==========================================================================
   #FOOTER
   ========================================================================== */


.c-footer {
  background-color: #000;
  color: #fff;
  padding-top: rem(20px);
  padding-bottom: rem(20px);
}

  .c-footer__legal {
    text-align: right;
    font-size: rem(16px);
  }
