/* ==========================================================================
   #LINK
   ========================================================================== */

/**
 * Uppercase link with arrow
 */

$link-font-size: 18px !default;
$link-font-weight: 600 !default;
$link-arrow-gap: 20px !default;
$link-arrow-gap-hover: 24px !default;
$link-arrow-proportions: 13px / 8px !default;

.c-link {
  font-size: em($link-font-size);
  font-weight: $link-font-weight;
  padding-right: rem($link-arrow-gap + 8px);
  position: relative;
  text-transform: uppercase;

  &::after {
    background-image: url('/assets/images/icons/arrow-right.svg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: " ";
    display: block;
    height: 13px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 8px;
  }
}





/* Block link with column children
   ========================================================================== */

.c-link--row {
  display: flex;
  flex-direction: row;
  padding-top: rem(24px);
  padding-bottom: rem(24px);
  position: relative;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(#000, .1);
  }

  &::after {
    background-image: url('/assets/images/icons/arrow-right.svg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: " ";
    display: block;
    height: 13px;
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translate(0, -50%);
    width: 8px;
  }
}


  .c-link--row__primary {
    font-family: $font-stack-headings;
    font-size: rem(24px);
    width: (1/3) * 100%;
  }

  .c-link--row__secondary {
    font-style: uppercase;
  }
