/* ==========================================================================
   #CAROUSEL
   ========================================================================== */

.c-carousel {

}

  .c-carousel__slides {
    list-style: none;
    margin: 0;
    padding: 0;
  }


  .c-carousel__slide {
    margin: 0;
    padding: 0;

    // temporary until I do transitions
    &:not(.is-active) {
      display: none;
    }
  }


  .c-carousel__controls {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-align: right;
  }

  .c-carousel__control {
    display: inline-block;
    width: rem(44px);
    height: rem(6px);
    background-color: #d2d3d4;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &.is-active {
      background-color: #000;
    }
  }
