/* ==========================================================================
   #TEXT INPUT
   ========================================================================== */


.c-text-input {
  display: block;
  width: 100%;
  font-family: $font-stack-inputs;
  position: relative;
  padding-top: 32px;
}

  .c-text-input__label, .c-text-input__input {
    display: block;
    font-size: rem(22px);
  }

  .c-text-input__label {
    position: absolute;
    transition: all .12s ease-out;
    color: #c6c6c6;
    will-change: top, font-size, color;

    .c-text-input__input.is-empty + & {
      top: 32px;
      font-size: rem(22px);
    }

    &, .c-text-input__input:focus + & {
      top: 0;
      font-size: rem(16px);
    }

    .c-text-input__input:focus + & {
      color: #000;
    }
  }

  .c-text-input__input {
    border: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(#000, .1);
    transition: all .12s ease-out;
    will-change: border-color, color;
    color: #c6c6c6;
    padding-bottom: rem(8px);

    &:focus {
      border-color: rgba(#000, 1);
      outline: none;
      color: #000;
    }
  }
