/* ==========================================================================
   #ARTICLE
   ========================================================================== */


.c-article {
  display: block;
}

  .c-article__image {
    margin-bottom: rem(36px);
  }

  .c-article__body {
    display: block;
    padding-left: 18%;
    position: relative;

    &::before {
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      top: .8em;
      width: 60% * .18;
      height: 1px;
      border-top: 1px solid #000;
    }
  }

  .c-article__info {
    font-size: rem(12px);
    text-transform: uppercase;
  }

  .c-article__title {
    font-size: rem(40px);
    line-height: rem(55px);
  }

  .c-article__author {
  }
