///* ========================================================================
//   #SETTINGS : TYPOGRAPHY
//   ======================================================================== */


// Typography settings

$font-stack-primary: "Open Sans", sans-serif;
$font-stack-headings: "Lora", Georgia, Times, serif;
$font-stack-inputs: "Larsseit", sans-serif;
