///* ========================================================================
//   #SETTINGS : CORE
//   ======================================================================== */

// Taken from inuitcss

// Baseline grid lines height.
// Every spacing metric should be based on this.

$global-baseline:     6px !default;



// How many grid lines should our spacing unit variants span?
// Each value should be an unitless integer.

$global-spacing-unit-factor-tiny:   1 !default;   // 6px
$global-spacing-unit-factor-small:  2 !default;   // 12px
$global-spacing-unit-factor:        4 !default;   // 24px
$global-spacing-unit-factor-large:  8 !default;   // 48px
$global-spacing-unit-factor-huge:   16 !default;  // 96px



// Spacing values are determined based on your project’s global baseline grid.
// It is not recommended that you modify these following variables
// (it can break your vertical rhythm), but if you need to, you can.

$global-spacing-unit:       $global-baseline * $global-spacing-unit-factor !default;
$global-spacing-unit-tiny:  $global-baseline * $global-spacing-unit-factor-tiny !default;
$global-spacing-unit-small: $global-baseline * $global-spacing-unit-factor-small !default;
$global-spacing-unit-large: $global-baseline * $global-spacing-unit-factor-large !default;
$global-spacing-unit-huge:  $global-baseline * $global-spacing-unit-factor-huge !default;



// Base typographical styles.

$global-font-size:    16px !default;
$global-line-height:  28px !default;


$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);
