/* ==========================================================================
   #HEADINGS
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack-headings;
    font-weight: normal;
}
