/* ==========================================================================
   #PAGE
   ========================================================================== */


/**
 * Page-level setup.
 */

html {
  font-family: $font-stack-primary;
  font-weight: 300;
  font-size: ($global-font-size / 16px) * 1em;
  line-height: $global-line-height / $global-font-size;
  overflow-y: scroll;
  min-height: 100%;
}
