/* ==========================================================================
   #IMAGES
   ========================================================================== */

img {
    max-width: 100%;
    vertical-align: middle;
}
